* {
  box-sizing: border-box;
}

header {
  background-color: #050526;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

body {
  background-color: #0b0b40;
  color: #d6d6d6;
  font-family: sans-serif;
}

main {
  background-color: #1a1a6e;
  width: 350px;
  padding: 30px;
  margin: 100px auto;
  text-align: center;
  border-radius: 12.5%;
}

.login-card {
  background-color: #1a1a6e;
  width: 350px;
  padding: 30px;
  margin: 100px auto;
  text-align: center;
  border-radius: 12.5%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 64px;
}

a {
  color: chocolate;
  text-decoration: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #00d4ff;
  color: #000;
  border: none;
  border-radius: 64px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #00a3cc;
  transition: 0.3s;
}
