/* --- CABEÇALHO --- */
.main-header {
  background-color: #ffffff;
  padding: 15px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --- NAVEGAÇÃO --- */
.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar a {
  font-weight: 500;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #6c63ff;
}

/* --- Main Sections --- */
.about-mission .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mission-text {
  width: 50%;
}

.about-mission img {
  max-width: 40%;
}

.about-value .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.value-card {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.value-card:hover {
  transform: translateY(-5px);
}

.about-story .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.story-text {
  width: 50%;
}

.about-story img {
  max-width: 40%;
}

.about-services .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.service-card {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.service-card:hover {
  transform: translateY(-5px);
}

.about-team {
  text-align: center;
}

.about-team .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.team-card {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.team-card:hover {
  transform: translateY(-5px);
}

.about-social .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.social-card {
  background-color: #f9f9f9;
  border: 2px solid white;
  padding: 10px;
  font-style: italic;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.social-card:hover {
  transform: translateY(-5px);
}

.about-CTA {
  background-color: #6c63ff;
  color: white;
  text-align: center;
  padding: 40px;
}

.btn-cta {
  background-color: white;
  color: #6c63ff;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 15px;
  font-weight: bold;
  display: inline-block;
  transition: 0.3s;
}

.btn-cta:hover {
  transform: translateY(-10px);
}
/* --- Footer --- */
.index-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
