/* --- CABEÇALHO --- */
.main-header {
  background-color: #ffffff;
  padding: 15px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --- NAVEGAÇÃO --- */
.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar a {
  font-weight: 500;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #6c63ff;
}

/* --- botão de login destacado --- */
.btn-login {
  border: 2px solid #6c63ff;
  padding: 8px 20px;
  border-radius: 20px;
  color: #6c63ff;
}

.btn-login:hover {
  background-color: #6c63ff;
  color: #fff;
}

/* --- SEÇÂO DO HEROI --- */
.hero {
  padding: 80px 0;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.hero .container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.hero-text {
  flex: 1;
}

/* --- Carrossel --- */
.hero-carousel {
  flex: 1;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.hero-carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: ease-in-out;
}

.hero-carousel img.active {
  opacity: 1;
  z-index: 1;
}

/* --- Card Grid --- */
.resources {
  padding: 80px 0;
  background-color: #fff;
}

.resource-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.5s;
}

.card:hover {
  transform: translateY(-10px);
}
/* Tipografia da Hero*/
.hero {
  font-size: 3rem;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
  max-width: 500px;
}

/* --- Botão CTA --- */
.btn-cta {
  display: inline-block;
  background-color: #6c63ff;
  color: white;
  padding: 15px 35px;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: bold;
  box-shadow: 0 4px 15px rgba(108, 99, 255, 0.4);
  transition: 0.5s;
}

.btn-cta:hover {
  transform: translateY(-5px);
}

/* --- Footer --- */
.index-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
