/* --- CABEÇALHO --- */
.main-header {
  background-color: #ffffff;
  padding: 15px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --- NAVEGAÇÃO --- */
.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar a {
  font-weight: 500;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #6c63ff;
}

/* --- LOGIN --- */
.login {
  background-color: lightgray;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: white;
  width: 350px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 10px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-box a {
  display: inline-block;
  color: #6c63ff;
  text-decoration: none;
  font-weight: bold;
  margin-top: 15px;
}

.input-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
