<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kronnos - Histórico</title>
  <link rel="stylesheet" href="/frontend/css/style.css">
</head>

<body>
  <header>
    <nav>
      <a href="../user/dashboard.html">Voltar ao Painel</a>
      <a href="../index.html">Sair</a>
    </nav>
  </header>
  <main>
    <h2>Meus Registros</h2>

    <table border="1" width="100%" style="text-align: center;">
      <thead>
        <tr>
          <th>ID</th>
          <th>Data</th>
          <th>Horário</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>10</td>
          <td>15/06/2024</td>
          <td>08:00</td>
        </tr>
      </tbody>
    </table>
    <p style="text-align: center;">Fim dos registros</p>
  </main>
  <footer>
    <p>Kronnos - Histórico Completo</p>
  </footer>
</body>

</html>