<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minha Página Inicial</title>
  <link rel="stylesheet" href="/frontend/css/style.css">
</head>

<body>
  <header>
    <nav>
      <a href="../user/dashboard.html">Voltal ao Painel</a>
      <a href="../user/historico.html">Histórico</a>
      <a href="../index.html">Sair</a>
    </nav>
  </header>

  <main>
    <h2>Perfil do Usuário</h2>
    <p>Bem-vindo ao seu perfil!</p>

    <section>
      <div style="text-align: center;">
        <img src="../images/avatar_padrao.png" alt="Foto de Perfil" width="150" style=border-radius:50%;>
        <br>
        <button>Alterar Foto de Perfil</button>
      </div>

      <hr>
      <div>
        <p><strong>Nome:</strong> <span id="full_name">Fulado de Tal</span></p>
        <p><strong>Nome de Usuário:</strong> <span id="username">fulano.dev</span></p>
        <p><strong>Email:</strong> <span id="email">fulano@exemplo.com</span></p>
        <p><strong>Data de Nascimento:</strong> <span id="birthday">01/01/2001</span></p>
        <p><strong>Telefone:</strong> <span id="phone">(11) 99999-9999</span></p>
        <p><strong>Endereço:</strong> <span id="address">Rua Exem lo, 123 - São Paulo/SP
      </div>
      <div style="margin-top: 20px;">
        <button onclick="alert('Funcionalidade em desenvolvimento!')">Editar Perfil</button>
      </div>
    </section>
  </main>

  <footer>
    <p>Kronnos - Seu tempo vale ouro</p>
  </footer>

</body>

</html>