<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kronnos</title>
  <link rel="stylesheet" href="/frontend/css/style.css">
</head>

<body>
  <h1>Bem-vindo ao Kronnos</h1>
  <p>Seu sistema de gerenciamento de tempo eficiente.</p>
  <header>
    <nav>
      <h2>Kronnos</h2>

      <a href="auth/login.html">Login</a>
      <a href="auth/cadastro.html">Cadastro</a>
    </nav>
  </header>

  <main>
    <section>
      <h1>Controle seu tempo com precisão</h1>
      <p>O sistema de ponto definitivo para você</p>

      <img src="../images/home_img.png" alt="Imagem de um relógio" width="300">
    </section>
    <section>
      <h3>Funcionalidades</h3>
      <p> Em breve </p>
    </section>
  </main>
  <footer>
    <p>&copy; 2025 Kronnos Tecnologia.</p>
    <p>CNPJ: 00.000.000/0001-00 | Email: contato@kronnos.com</p>
  </footer>
</body>